h1{ 
    color:blueviolet; margin: 10;
    text-align: center;
}
h2{ 
    color:red; margin: 100;
    text-align: center;
}
p{
    color: green;
}
.mi-descripcion p {
    color: blue;
    text-align: center;
}
.contenedor-tarjeta{
background-color: greenyellow;
align-content: center;
align-items: center;
}
.datos-contacto{
    text-align: center;
}
.foto-perfil img{
    align-items: center;
    align-content: center;
    width: 200px;
    border-width: 8px;
    border-style: solid;
}